# Python
__pycache__

# virtualenv
.venv

# dotenv
.env

# mypy
.mypy_cache/

# local
local/

# PyCharm
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# packaging
dist/
